<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/png" href="../static/image/Untitled design.png" />
    <link rel="stylesheet" href="../static/css/dash-style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">AgroSmart</h1>
        <div class="nav-right">
          <nav>
            <ul>
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="crop-recommend.html">Recommend Crop</a></li>
              <li><a href="yeild-predict.html">Predict Yield</a></li>
              <li><a href="weather-forecast.html">Weather Forecast</a></li>
              <li>
                <a href="fertilizer-recommend.html"
                  >Fertilizer Recommendation</a
                >
              </li>
              <li><a href="analysis.html">Analysis</a></li>
            </ul>
          </nav>
          <div class="user-menu">
            <img
              src="../static/image/user-logo.png"
              alt="User"
              class="user-icon"
              onclick="toggleUserMenu()"
            />
            <div class="user-dropdown" id="user-dropdown">
              <a href="profile.html">View Profile</a>
              <a href="index.html" onclick="logout()">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- <section id="home">
      <div class="intro">
        <h2>Welcome to AgroSmart</h2>
        <p>
          Your go-to solution for intelligent crop recommendations and yield
          predictions.
        </p>
        
      </div>
    </section> -->
   

    <section class="hero-banner">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../static/image/farm1.jpg"
              class="d-block w-100"
              alt="banner-img"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>
                Some representative placeholder content for the first slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../static/image/crop1.jpg"
              class="d-block w-100"
              alt="banner-img"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../static/image/crop2.jpg"
              class="d-block w-100"
              alt="banner-img"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <div class="container">
      <section id="recommend-crop" class="crop-cards">
        <div class="content">
          <div class="text">
            <h2>Recommend Crop</h2>
            <p>
              Use our advanced algorithms to get the best crop recommendations
              based on your soil and weather conditions.
            </p>
            <a href="crop-recommend.html" class="btn">Try Now</a>
          </div>
          <div class="image">
            <img src="../static/image/crops-grow.jpg" alt="Crop Recommendation" />
          </div>
        </div>
      </section>
  
      <section id="predict-yield" class="alternate crop-cards"">
        <div class="content">
          <div class="text">
            <h2>Predict Yield</h2>
            <p>Accurately predict crop yield with our machine learning models.</p>
            <a href="yeild-predict.html" class="btn">Predict Now</a>
          </div>
          <div class="image">
            <img src="../static/image/crop-yeild.jpg" alt="Yield Prediction" />
          </div>
        </div>
      </section>
  
      <section id="weather-forecast"  class="crop-cards">
        <div class="content">
          <div class="text">
            <h2>Weather Forecast</h2>
            <p>Get precise weather forecasts to plan your farming activities.</p>
            <a href="weather-forecast.html" class="btn">Check Weather</a>
          </div>
          <div class="image">
            <img src="../static/image/crop-rain.jpg" alt="Weather Forecast" />
          </div>
        </div>
      </section>
  
      <section id="fertilizer-recommendation" class="alternate crop-cards">
        <div class="content">
          <div class="text">
            <h2>Fertilizer Recommendation</h2>
            <p>Optimize your fertilizer usage with our expert recommendations.</p>
            <a href="fertilizer-recommend.html" class="btn">Get Recommendations</a>
          </div>
          <div class="image">
            <img
              src="../static/image/crop-fertilizer.jpg"
              alt="Fertilizer Recommendation"
            />
          </div>
        </div>
      </section>
  
      <section id="analysis" class="crop-cards">
        <div class="content">
          <div class="text">
            <h2>Analysis</h2>
            <p>Analyze your farming data to make informed decisions.</p>
            <a href="analysis.html" class="btn">View Analysis</a>
          </div>
          <div class="image">
            <img src="../static/image/Crop-analysis.jpg" alt="Analysis" />
          </div>
        </div>
      </section>
    </div>
  

    <footer>
      <p>&copy; 2024 AgroSmart. All rights reserved.</p>
    </footer>

    <script>
      function toggleUserMenu() {
        const userDropdown = document.getElementById("user-dropdown");
        userDropdown.classList.toggle("show");
      }

      function logout() {
        window.location.href = "index.html";
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".user-icon")) {
          const dropdowns = document.getElementsByClassName("user-dropdown");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
  </body>
</html>
