<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Forecast</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/png" href="../static/image/Untitled design.png" />
    <link rel="stylesheet" href="../static/css/weather.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">AgroSmart</h1>
        <div class="nav-right">
          <nav>
            <ul>
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="crop-recommend.html">Recommend Crop</a></li>
              <li><a href="yeild-predict.html">Predict Yield</a></li>
              <li><a href="weather-forecast.html">Weather Forecast</a></li>
              <li>
                <a href="fertilizer-recommend.html"
                  >Fertilizer Recommendation</a
                >
              </li>
              <li><a href="analysis.html">Analysis</a></li>
            </ul>
          </nav>
          <div class="user-menu">
            <img
              src="../static/image/user-logo.png"
              alt="User"
              class="user-icon"
              onclick="toggleUserMenu()"
            />
            <div class="user-dropdown" id="user-dropdown">
              <a href="profile.html">View Profile</a>
              <a href="index.html" onclick="logout()">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="weather-section">
      <div class="container">
        <h1>Weather Forecast</h1>
        <form id="weather-form">
          <input
            type="text"
            id="city"
            name="city"
            placeholder="Enter city name"
            required
          />
          <button type="submit">Search</button>
        </form>
        <div class="weather-card-container">
          <div id="weather-container"></div>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 AgroSmart. All rights reserved.</p>
    </footer>

    <script>
      document
        .getElementById("weather-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          let city = document.getElementById("city").value;
          let apiKey = "9736d84f2b387d052f9dfbfaea880970";
          let baseUrl = "https://api.openweathermap.org/data/2.5/forecast";

          fetch(`${baseUrl}?q=${city}&appid=${apiKey}&units=metric`)
            .then((response) => response.json())
            .then((data) => {
              let container = document.getElementById("weather-container");
              container.innerHTML = "";
              if (data.cod === "200") {
                let forecast = extractWeatherInfo(data);
                forecast.forEach((day) => {
                  container.innerHTML += `
                                <div class="weather-card">
                                    <h2>${day.date}</h2>
                                    <p><strong>Weather:</strong> ${
                                      day.weather
                                    }</p>
                                    <p><strong>Temperature:</strong> ${
                                      day.temperature
                                    }°C</p>
                                    <p><strong>Humidity:</strong> ${
                                      day.humidity
                                    }%</p>
                                    <p>${
                                      day.rainfall
                                        ? "Rainfall expected. No need to add fertilizer."
                                        : "No rainfall expected. You can add fertilizer."
                                    }</p>
                                </div>
                            `;
                });
              } else {
                container.innerHTML = `<p>City not found</p>`;
              }
            })
            .catch((error) => {
              console.error("Error fetching weather data:", error);
            });
        });

      function extractWeatherInfo(data) {
        let forecast = [];
        for (let i = 0; i < 3; i++) {
          let weatherInfo = {
            date: data.list[i * 8].dt_txt,
            weather: data.list[i * 8].weather[0].description,
            temperature: data.list[i * 8].main.temp,
            humidity: data.list[i * 8].main.humidity,
            rainfall: "rain" in data.list[i * 8],
          };
          forecast.push(weatherInfo);
        }
        return forecast;
      }
      // Toggle user dropdown menu
      function toggleUserMenu() {
        const userDropdown = document.getElementById("user-dropdown");
        userDropdown.classList.toggle("show");
      }

      function logout() {
        window.location.href = "index.html";
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".user-icon")) {
          const dropdowns = document.getElementsByClassName("user-dropdown");
          for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
  </body>
</html>
